<section class="container">
  <h1 class="large text-primary">Sign Up</h1>
  <p class="lead">💻 Create Your Account</p>
  <form class="form" [formGroup]="createUserForm" (ngSubmit)="createUserForm.valid && submit()">
    <div class="form-group">
      <input type="text" placeholder="Name" formControlName="name" required />
    </div>
    <div class="form-group">
      <input type="email" placeholder="Email Address" formControlName="email" required />
      <small class="form-text"
        >This site uses Gravatar so if you want a profile image, use a Gravatar
        email</small
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        required
      />
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
  <p class="my-1">
    Already have an account? <a routerLink="../auth">Sign In</a>
  </p>
</section>
